= simple_form_for [current_user,@album,@track] do |f|
  -if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :duration,:as=>:string
  = f.submit 'Save'
